<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Project Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-title color="danger" style="white-space: normal;">{{currProj.name}}</ion-title>
  </ion-item>
  <ion-item class="borders">
    <ion-label color="secondary">Members</ion-label>
    <ion-input *ngIf="currProj.createdBy == username"type ="text" placeholder="Add Member" ></ion-input>
    <ion-button *ngIf="currProj.createdBy == username" shape="round" size="default" color="dark"><ion-icon name="person-add"></ion-icon></ion-button>
  </ion-item>
  
  <ion-item lines = "none" *ngFor="let mem of currProj.members" >
    <ion-button *ngIf="currProj.createdBy == username || mem == username;" shape="round" size="small" color="dark"><ion-icon name="person-remove"></ion-icon></ion-button>
    <ion-label> {{mem}}</ion-label>
  </ion-item>
</ion-content>


<ion-content>
  <ion-item class="borders">
    <ion-label color="secondary">Tasks</ion-label>
    <ion-button  shape="round" size="default" color="dark">Assign</ion-button>
  </ion-item>

  <ion-item >
    <ion-input type ="text" placeholder="Add Task" ></ion-input><!--[(ngModel)]="taskname"-->
    <ion-select multiple="true" cancelText="Cancel" okText="Enter" placeholder="Skill Required" ><!--[(ngModel)]="skills"-->
      <ion-select-option>Machine Learning</ion-select-option>
      <ion-select-option>Artifical Intelligence</ion-select-option>
      <ion-select-option>Natural Language Processing</ion-select-option>
      <ion-select-option>Network Security</ion-select-option>
      <ion-select-option>Operating Systems</ion-select-option>
    </ion-select>
    <ion-button  shape="round" color="dark"><ion-icon name="add"></ion-icon></ion-button>
  </ion-item>




  <div class="borders"><!--*ngFor="let task of p.tasks; let i3 = index"-->
    <ion-item lines="none" *ngFor="let task of currProj.tasks; let i = index;">
      <ion-label >{{task}} [{{currProj.skills[i]}}]</ion-label>
      <ion-label>Assigned: </ion-label>
      <ion-label>Status: </ion-label>
    </ion-item>
  </div>
</ion-content>
 
<ion-footer>
  <ion-button expand="block" (click)="gotoChat(currProj.name)" shape="round" size="medium" color="dark"><ion-icon name="chatbox-ellipses"></ion-icon></ion-button>
</ion-footer>
