<ion-header>
  <ion-toolbar>
    <ion-title>tasklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Project Name: </ion-label>
  <ion-label>{{project}}</ion-label>
  <hr>
  <ion-label>Team Members: </ion-label>
  <ion-label>{{members}}</ion-label>
  <hr>
  <ion-label>Tasks:</ion-label>
  <hr>
  <ion-item>
    <ion-label>Task</ion-label>
    <ion-label>member</ion-label>
    <ion-label>Status</ion-label>
  </ion-item>
  <ion-item *ngFor="let t of tasks" >
    <ion-label style="white-space: normal;">{{ t.name }}</ion-label>
    <ion-label>{{ t.member}}</ion-label>
    <ion-label>{{ t.status }}</ion-label>
  </ion-item>
  <ion-icon name="square-outline"></ion-icon>
  <ion-icon name="checkbox-outline"></ion-icon>
  <ion-label></ion-label>

</ion-content>
<ion-footer>
  <ion-button expand="block" href="projectlist" fill ="clear">Back(temp)</ion-button>
  <ion-button expand="block" href="chat">Discuss with the group <ion-icon name="chatbox-ellipses-outline"></ion-icon></ion-button>
</ion-footer>