<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      Chat: {{currProj}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" position="top">
  <ion-infinite-scroll-content
    loadingSpinner="crescent"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

<ion-content  id="m"  color="black" [scrollEvents]="true"  >
  <ion-grid>
    <ion-row *ngFor="let user of presUserArr">
      <ion-col  offset="3" size="9" *ngIf="currentUser === user.username" class="message my-message"> 
        <b>{{ user.username }}</b><br>
        <span> {{ user.message }}</span><br>
       
      </ion-col>

      <ion-col  size="9" *ngIf="currentUser !== user.username" class="message other-message"> 
        <b>{{ user.username }}<ion-icon name="eye" *ngIf="user.status === 'online'"></ion-icon><ion-icon name="eye-off" *ngIf="user.status === 'offline'"></ion-icon></b><br>
        <span> {{ user.message }}</span>
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  


<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="10">
        <ion-input type="text" (keyup.enter)="sendMessage()" [(ngModel)]="message" class="message-input"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button expand='block' fill="clear" color="light" [disabled]="message === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only" color="secondary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-item>
  <ion-input [(ngModel)]='message'></ion-input>
  <ion-button (click)='sendMessage()'><ion-icon name="send-outline"></ion-icon></ion-button>
</ion-item>
</ion-footer> -->