
<ion-header>
  <ion-toolbar color="danger" >
    <ion-title slot="end">Taskman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-item padding color="light">
    <ion-label position="floating" >Enter Email</ion-label>
    <ion-input id="username" type="email" [(ngModel)]="user"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding color="light">
    <ion-label position="floating">Enter Password</ion-label>
    <ion-input id="password" type="password" minlength="8" [(ngModel)]="password"></ion-input>
  </ion-item>
  <hr>
  <hr>
 <hr>

  <ion-button id="login" expand="block" (click)="loginUser()" >Login</ion-button>
  
  <ion-button id="signup" expand="block"  (click)="gotosignuppage()" fill ="clear">Sign Up</ion-button>
  <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
  

  
</ion-content>
<ion-footer>
  <ion-button expand="block" href="aboutus" fill ="clear">About The Project</ion-button>

</ion-footer>
