<ion-header>
  <ion-toolbar>
    <ion-title>Taskman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item padding>
    <ion-label position="floating">Enter Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Enter Password</ion-label>
    <ion-input type="password" minlength="8" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <hr>
  <hr>
 <hr>

  <ion-button expand="block" (click)="login()" >Login</ion-button>
  <ion-button expand="block" (click)="createacc()" fill ="clear">Create New User</ion-button>
  <ion-button expand="block"  href="resetpassword" fill ="clear">Reset Password(not needed)</ion-button>
  <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
  <ion-button expand="block"  href="menu" fill ="clear">Go to home(temp)</ion-button>

  
</ion-content>
<ion-footer>
  <ion-button expand="block" href="aboutus" fill ="clear">About The Project</ion-button>

</ion-footer>
