<ion-header>
  <ion-toolbar>
    <ion-title>Taskman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item padding>
    <ion-label position="floating">Enter Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Enter Password</ion-label>
    <ion-input type="password" minlength="8"></ion-input>
  </ion-item>
  <hr>
  <hr>
 <hr>

  <ion-button expand="block" href="home">Login</ion-button>
  <ion-button expand="block" href="newuser" fill ="clear">Create New User</ion-button>
  <ion-button expand="block" href="resetpassword" fill ="clear">Reset Password</ion-button>
  <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
  <ion-button expand="block" href="aboutus" fill ="clear">About The Project</ion-button>

  
</ion-content>
