<ion-header>
  <ion-toolbar>
    <ion-title>About The Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    This is TaskMan! A simple web-application to discuss and work
    on projects with your team. Assign tasks, get resources, and
    chat with your team on this app.
  </ion-label>
  <ion-label>Technologies used in the project:<br>
    Frontend: Angular and Ionic Framework<br>
    Backend: Firebase, Flask<br>
    Web-Tech Technologies: Rest API, Periodic Refresh & Multistage Download <br>
    <br>
    Members of the team:<br>
    Anantharam R U [PES1201700088]<br>
    Shashank Prasad [PES1201700667]<br>
    Gaurang Rao [PES1201701103]<br>
    
  </ion-label>
  <ion-button expand="block" href="login" fill ="clear">Back</ion-button>
</ion-content>
