<ion-header>
  <ion-toolbar>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item padding>
    <ion-label position="floating">Enter Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Enter New Password</ion-label>
    <ion-input type="password" minlength="8"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Confirm New Password</ion-label>
    <ion-input type="password" minlength="8"></ion-input>
  </ion-item>
  <hr>
  <ion-button expand="block" href="login">Reset Password</ion-button>

</ion-content>
