<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item padding>
    <ion-label position="floating">Enter Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <hr>
  <ion-item>
    <ion-label position="floating">Enter Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Enter Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" minlength="8"></ion-input>
  </ion-item>
  <hr>
  <ion-item padding>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmpassword" minlength="8"></ion-input>
  </ion-item>
  <hr>
  <ion-button expand="block" (click)="signupUser()">Sign Up</ion-button>
  <ion-button id="login" expand="block"  (click)="gotologinpage()" fill ="clear">Log In</ion-button>
</ion-content>
