<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngFor="let user of presUserArr">
  <ion-item>
    <ion-label>Username: {{ user.username }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Name: {{ user.firstname}} {{user.lastname}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Email Id: {{ user.email}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Skills: {{ user.skills}} </ion-label>
  </ion-item>
</ion-content>

