<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngFor="let user of presUserArr">
  <ion-item lines="none">
    <ion-label color="danger">
      <h1>Username: </h1> 
      <h2>{{ user.username }} </h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="primary">
      <h1>Name: </h1> 
      <h2>{{ user.firstname}} {{user.lastname}} </h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="primary">
      <h1>Email: </h1>
      <h2>{{ user.email}} </h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="secondary">
      <h1>Skills: </h1>
      <h2>{{ user.skills}}</h2>
    </ion-label>
  </ion-item>
</ion-content>