<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <hr>
  <hr>
  <ion-item>
 <ion-input type ="text" placeholder="Enter Project Name"></ion-input>
</ion-item>
 <hr>
 <ion-item>
 <ion-input type ="text" placeholder="Add team Member" id="teammem" [(ngModel)]="memname"></ion-input>
 <ion-button expand="block" (click)="addname()" ><ion-icon name="add"></ion-icon></ion-button>
 
</ion-item>
 <hr>
 <ion-item *ngFor="let name of namelist; let i = index">
  {{name}}
  <div slot="end">
		<ion-button  clear (click)="deletename(i)">
			<ion-icon name="trash"></ion-icon>
		</ion-button>
	</div>
</ion-item>

 <ion-item-divider>
</ion-item-divider>

 <hr>
 <ion-item>
  <ion-input type ="text" placeholder="Enter tasks" [(ngModel)]="taskname"></ion-input>
 </ion-item>
 <hr>
 <ion-item>
  <ion-select multiple="true" cancelText="Cancel" okText="Enter" placeholder="Enter Skill Required" slot="start" [(ngModel)]="skills">
    <ion-select-option value="skill">Skill 1</ion-select-option>
    <ion-select-option value="skill">Skill 2</ion-select-option>
    <ion-select-option value="skill">Skill 3</ion-select-option>
    <ion-select-option value="skill">Skill 4</ion-select-option>
    <ion-select-option value="skill">Skill 5</ion-select-option>
  </ion-select>
</ion-item>
 <hr>
 <ion-button expand="block">Add Task</ion-button>
 <hr>
 <hr>
 <hr>
 
 
 <ion-label>(Should display tasks and users here)</ion-label>
 <hr>
 <ion-button expand="block" href="login" fill ="clear">Back(temp)</ion-button>
</ion-content>

<ion-footer>
  <ion-button expand="block">Save Project</ion-button>
</ion-footer>
