<ion-header >
  <ion-toolbar class="toolbar" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary-contrast">
  <hr><hr>
  <ion-item class="name"><!--not sure what color this should be... left as is-->
    <ion-input type ="text" placeholder="Project Name" required [(ngModel)]="projname"></ion-input>
  </ion-item>

 <ion-item >
  <ion-input type ="text" placeholder="Team Member Username" id="teammem" [(ngModel)]="memname"></ion-input>
  <ion-button size="large" id = "name" (click)="addname()" fill="clear"><ion-icon name="person-add-outline" color="dark"></ion-icon></ion-button>
</ion-item>

 <ion-item lines="none" *ngFor="let name of namelist; let i = index" >
  {{name}}  
  <ion-button fill = "clear" (click)="deletename(i)" size="default" slot="start">
			<ion-icon name="person-remove-outline"></ion-icon>
    </ion-button>
</ion-item>

 <ion-item >
  <ion-input type ="text" placeholder="Tasks" [(ngModel)]="taskname"></ion-input>
  <ion-select multiple="true" cancelText="Cancel" okText="Enter" placeholder="Skill Required" [(ngModel)]="skills">
    <ion-select-option>Machine Learning</ion-select-option>
    <ion-select-option>Artifical Intelligence</ion-select-option>
    <ion-select-option>Natural Language Processing</ion-select-option>
    <ion-select-option>Network Security</ion-select-option>
    <ion-select-option>Operating Systems</ion-select-option>
  </ion-select>
  <ion-button size="large" id = "task" (click)="addtask()" fill="clear"><ion-icon name="add" color="dark"></ion-icon></ion-button>
</ion-item>
 
<ion-item lines="none" *ngFor="let task of tasklist; let i = index" > 
		<ion-button fill = "clear" (click)="deletetask(i)">
			<ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
    {{task}} <ion-icon style="padding-left: 2px; padding-right: 2px;" name="arrow-forward-circle-outline"></ion-icon> {{ skillslist[i] }} 
</ion-item>
 <!-- <ion-button expand="block" href="login" fill ="clear">Back(temp)</ion-button> -->
</ion-content>

<ion-footer class="foot">
  <div class="cenBut">
    <ion-button id ="save" expand="block" style="text-align: center;" color="dark" (click)="saveProject()">Save Project</ion-button>
  </div>
</ion-footer>
